html, body {
    height: 100%;
    background: white;
}
/*logo*/

.container {
    min-height: 100%;
    height: auto !important;
   /* height: 100%;*/
   /* margin: 0 auto -50px;*/
}

.centro-riga{
    text-align: center;
}
.logopanel{
    margin-left: 15px;
    margin-top: 10px;
}

/*menù primario*/
.page-header{
    padding-left: 20px;
    margin-top: 10px;

}
.bottom-menu{
    margin-top: 25px;
}
/*bottoni menu*/
.bottom-menu .btn-primary{
    min-width: 110px;
}

.btn-primary-alt{
    min-width: 100px;
    height: 40px;
    margin-top: 25px;
    border-color: #0055aa;
}
/*bottoni*/
.btn-lightblue{
    margin-top: 100px;
    max-width: 120px;
    min-height: 60px;
    min-width: 100px;
    border-radius: 100px 100px 100px 100px;
    border-color:#0055aa ;
    margin-left: 35%;

}

a.btn.btn-lightblue{
    padding-top: 18px;
    text-align: center;
}

/*pannello centrale*/
.mainpanel {
    background: #e4e7ea;
    min-height: 300px;
    margin-left: 30px;
}


/*descrizione*/
.content-descrip{
    width: 100%;
    max-height: 250px;
    min-height: 150px;
    margin-top: 30px;
    margin-left: 30px;
}

/*footer*/
.footer{
    width: 100%;
    min-height: 50px;
    max-height: 90px;
    color: white;
    background-color: #428BCA;
    text-align: center;
    margin-top: 100px;
    padding-top: 15px;

    clear: both;

}
.footer a{
    margin-right: 5px;
    margin-left: 5px;

}
a.footer
{
    text-align: center;
    color: #f7f7f7;
}

.footer a:link,
.footer a:visited  {
    color: #f7f7f7;
}

a:hover, a:active {
    text-decoration: underline;
}

.panel-footer{
    background-color: transparent;
    border-top: 1px solid #DDD;
    margin-top: 10%;
}

.btn-group{
    margin-top: 25px;
}

#dettagli-architetto, #dettagli-impiantista, #dettagli-costruttori, #dettagli-direttore, #dettagli-impresa {
    margin-left: 60px;
}
.col-sm-1  { width: 8.333333333333332%;  }
.col-sm-2  { width: 16.666666666666664%; }
.col-sm-3  { width: 25%;                 }
.col-sm-4  { width: 33.33333333333333%;  }
.col-sm-5  { width: 41.66666666666667%;  }
.col-sm-6  { width: 50%;                 }
.col-sm-7  { width: 58.333333333333336%; }
.col-sm-8  { width: 66.66666666666666%;  }
.col-sm-9  { width: 75%;                 }
.col-sm-10 { width: 83.33333333333334%;  }
.col-sm-11 { width: 91.66666666666666%;  }
.col-sm-12 { width: 100%;                }